<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New client
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">new client</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="saveInfo(form)" #form="ngForm">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input name="name" [(ngModel)]="client.name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address:</ion-label>
      <ion-input name="address" [(ngModel)]="client.address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Birthdate:</ion-label>
      <ion-input
        name="birthday"
        [(ngModel)]="client.birthday"
        type="date"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>State:</ion-label>
      <ion-button
        *ngIf="client.isActive"
        (click)="client.isActive = false"
        color="success"
        >Active</ion-button
      >
      <ion-button
        *ngIf="!client.isActive"
        (click)="client.isActive = true"
        color="danger"
        >Inactive</ion-button
      >
    </ion-item>
    <div class="button-container">
      <ion-button type="submit" class="w-100" color="primary">Save</ion-button>
    </div>
  </form>
</ion-content>
