<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clients</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <div class="loading">
      <ion-badge slot="center" *ngIf="loading" color="primary"
        >Loading...</ion-badge
      >
    </div>
    <ion-item *ngFor="let client of clients">
      <a class="client-link" [routerLink]="['/tabs/tab1/client',client.id]">
        <ion-label>{{client.name}}</ion-label>
        <ion-badge slot="end" *ngIf="client.isActive" color="success"
          >Active</ion-badge
        >
        <ion-badge slot="end" *ngIf="!client.isActive" color="danger"
          >Inactive</ion-badge
        >
      </a>
    </ion-item>
  </ion-list>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
