<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/tabs/tabs1">
      <ion-back-button (click)="backListClients()" ></ion-back-button>
    </ion-buttons>
    <ion-title>Client detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="content-client">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> </ion-card-subtitle>
      <ion-card-title>{{ client.name }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="img-container">
        <ion-thumbnail slot="end">
          <ion-img src="assets/user.png"></ion-img>
        </ion-thumbnail>
      </div>
      <p><span class="label-text">Address:</span>{{ client.address }}</p>
      <p><span class="label-text">Birthday:</span>{{ client.birthday }}</p>
      <div class="options">
        <ion-button (click)="goToEditPage()" color="primary" class="button"
          >Edit</ion-button
        >
        <ion-button
          (click)="presentAlertConfirm()"
          color="danger"
          class="button"
          >Delete</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
