.options {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.content-client {
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.label-text {
  font-weight: bold;
  color: #222;
  width: 100px;
  display: inline-block;
}

.button {
  width: 95%;
}
